<br>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            Residence Details
        </div>
        <div class="card-body">
            <h5 class="card-title">Residence ID: {{ id }}</h5>
            <p class="card-text">{{ concernedResidence?.name }}</p>
            <p class="card-text">{{ concernedResidence?.address }}</p>
            <p class="card-text">{{ concernedResidence?.status }}</p>
            <a href="#" routerLink="/residence" class="btn btn-primary">Go back</a>
        </div>
    </div></div>